body{
    background-color:rgb(177, 190, 175) ;
}

header{
    text-align: center;
    font-size: x-large;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: azure;
    color: blue;
}

li#NAV{
  
    display: inline-block;
    width: 20%;
    font-size: 1.27em;    
}


#ul-nav{
    
    margin: auto;
    padding: auto;
    width: 100%;
    text-align: center;


}

#div-nav{
    background-color: rgb(134, 137, 139);
    height: 10%;
    position: flex;
}

nav{
font-style: none;

}

.tabela{
    width: 43%; 
    margin-left: 25%; 
    padding: auto; 
    border-color: black; 
    text-align: center;
    font-size: auto;
}

#img1{
    width: 100%;
   

}
#div-img1{
    width: 25%;
    margin-right: 5%;
    padding: auto;
    float: right;
}

div{
    border: 2px solid green;
}

#div-fatos-secao1{
    width: 43%;
    margin: auto;
    padding-right: 7%;
    text-align: justify;
    text-indent: 30px;
}